{% extends "accounts/base-info.html" %}

{% block title %}管理{% endblock %}

{% block info_content %}
<script type="text/javascript">
require(['admin']);
</script>
<div class="post panel clearfix">
    <div class="panel-body">
        <form class="form form-horizontal col-xs-12 col-md-offset-1 col-md-10" method="post" enctype="multipart/form-data">
            <div class="form-group">
                 <label class="col-xs-4 col-md-2">财年控制</label>
                 <div class="input-group col-xs-8 col-md-10" id="timeline-control">
                    <button type="button" class="pull-left btn btn-success" id="btn-inc">自增 1</button>
                    <button type="button" class="pull-left btn btn-danger" id="btn-reset">重置为默认</button>
                 </div>
            </div>
            <div class="form-group">
                <label for="map" class="col-xs-4 col-md-2">上传地图</label>
                <div class="input-group col-xs-8 col-md-10">
                    <button type="button" id="uploadMap" class="btn btn-success">点击上传</button>
                </div>
            </div>
            {% include "includes/messages.html" %}
            {% csrf_token %}
            <div class="form-group">
                <label for="users" class="col-xs-4 col-md-2">批量增加用户</label>
                <div class="input-group col-xs-8 col-md-10">
                    <input type="file" class="form-control" name="users">
                    <p class="help-block">
                        <a href="http://open.sinastorage.com/?c=console&a=redirect&bucket=wisecitymbc&object=%E6%89%B9%E9%87%8F%E5%A2%9E%E6%B7%BB%E7%94%A8%E6%88%B7%E6%A8%A1%E6%9D%BF.xls">在此下载模板。</a>
                    </p>
                </div>
            </div>
            {% if user_results %}
            <div class="form-group">
                <label class="col-xs-4 col-md-2">结果</label>
                <div class="input-group col-xs-8 col-md-10">
                    {% for user_object in user_results %}
                        {{user_object.username}},{{user_object.nickname}},{{user_object.password_raw}}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="form-group">
                <div class="input-group col-xs-12">
                    <input type="submit" value="上传！" class="pull-right btn btn-primary">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
