{% extends "base.html" %}

{% block main_content %}
<div class="col-xs-12">
    <div class="panel post">
        <div class="panel-body post-content">
            <header class="panel-heading post-header">
                <h2 class="post-title">
                    <a href="/">
                        为什么让我抛弃IE？
                    </a>
                </h2>
            </header>
            <p>
                并不是说让您抛弃IE，只是您使用的IE版本太低而已。
            </p>
            <p>
                我们来看一个表格：
            </p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>IE版本号</td>
                        <td>发布时间</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>6.0</td>
                        <td>2001年8月27日</td>
                    </tr>
                    <tr>
                        <td>7.0</td>
                        <td>2005年7月27日</td>
                    </tr>
                    <tr>
                        <td>8.0</td>
                        <td>2009年3月29日</td>
                </tbody>
            </table>
            <p>
                可以看得出：就连IE8的出生距今也有6年了。
            </p>
            <p>
                要知道：软件开发可是日新月异的。6年的光阴，足以完全淘汰一门旧技术。面对如今发展迅猛的互联网科技，09年的老IE已显得有些力不从心。
            </p>
            <p>
                也许您不知道：在2014年10月，万维网联盟发布了最新的超文本标记语言标准——HTML5（这是什么？<a href="http://baike.baidu.com/view/951383.htm">科普一下</a>。不想看的可以无视= =）该标准自2006年启动了拟定工作之后，每出台一条新规则，各大浏览器厂商都会相应地改进他们的浏览器——除了低版本的IE。事实上，微软也有自己的难处：毕竟IE浏览器是作为Windows操作系统的一部分捆绑销售给用户的，和其他浏览器比起来，在升级方面有不少的局限性。因此，微软仅在新系统的IE浏览器中改进，而抛弃了版本低的——反正它们迟早也要被淘汰。
            </p>
            <p>
                那新的标准有什么好处？
            </p>
            <p>
                自互联网普及以来，网页制作领域便一直处于一种混乱的状态——各大浏览器厂商私拟标准，为的是产生垄断性优势。可结果却不尽人意，浏览器界从来就没有过真正的霸主。然而，各式各样的标准却给设计人员带来了不小的麻烦：要兼顾各家的标准，网页就会变得冗长、臃肿不堪，从而降低了开发效率。
            </p>
            <p>
                HTML5的目的是：统一网页制作的标准，并在此基础上增加一些新的功能。该标准的出台，会使网页开发的效率尽可能地提高。而对于用户来说，它也可以在一定程度上减少流量使用，同时还能体验到更加炫酷的效果。
            </p>
            <p>
                既然如此，何乐而不为呢？
            </p>
        </div>
    </div>
</div>
{% endblock %}